@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  background: url("https://images.pexels.com/photos/326612/pexels-photo-326612.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #212529;
}
.form {
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.form .title {
  padding: 30px;
  font-size: 2.8rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
}
.form-controls {
  padding: 0 60px 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-controls label {
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 400;
}
.form-controls input {
  width: 100%;
  height: 45px;
  border: 2px solid #fad2e1;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 10px;
  color: #ff4d6d;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form-controls input:focus {
  border-color: #ff4d6d;
  outline: none !important;
}

button {
  margin: 10px 0 30px 0;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 12px 50px;
  letter-spacing: 1px;
  border: 0;
  background-color: #ff4d6d;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.footer {
  margin-top: 50px;
  margin-bottom: 40px;
}
.footer .logo {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  line-height: 22px;
  font-size: 1.2rem;
  font-weight: 700;
}

.logo .powered {
  font-size: 1rem;
  font-weight: 500;
  color: #ef233c;
}

.backdrop {
  position: fixed;
  background: rgba(33, 37, 41, 0.5);
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.messages {
  margin: auto;
}

.header img {
  cursor: pointer;
}

.results {
  text-align: center;
  padding: 0px 30px;
  background: #ffff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.percentage {
  padding: 20px 0;
}
.comment {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
}

.closebackdrop {
  display: none;
}
a {
  text-decoration: none;
  color: #212529;
}

@media (max-width: 450px) {
  .form {
    margin: 0 10px;
  }

  .messages {
    margin: 0 10px;
  }
}

@media (max-width: 400px) {
  .form-controls {
    padding: 0 20px 20px 20px;
  }
}
